.container {
    text-align: center;
}

.title {
    text-wrap: wrap;
    margin-top: 2vh;
    color: rgb(174, 174, 174);
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    }
    
    .title div {
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
}

.title span {
    padding-left: 1.5rem;
    color: rgb(127, 255, 212);
}

.reset {
    max-width: 250px;
    max-height: 80px;
    width: 40vw;
    height: 10vh;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    font-size: 26px;
    border-radius: 50px;
    color: rgb(127, 255, 212);
    background-color: rgba(59, 253, 0, 0.173);
    margin-top: 25px;
}

.board {
    max-height: 420px;
    max-width: 420px;
    height: 98vw;
    width: 98vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.211);
    border-radius: 13px;
}

.boxes {
    max-width: 130px;
    max-height: 130px;
    margin: min(1vw, 1px);
    height: 29vw;
    width: 29vw;
    background: rgba(255, 255, 255, 0.255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes img {
    margin: 30px;
}

.title img {
    padding: 20px 20px;
    height: 50px;
}